.App {
}

.App-header {
}

.SvgText {
  position: relative;
  display: inline;
}

.SvgText svg {
  background-color: lightyellow;
}

.SvgText g {
  stroke: 'none';
  fill: black;
}

.textLayer {
  position: absolute;
  overflow: hidden;
  color: transparent;
}